GitPython==3.1.29
importlib-metadata==5.0.0
ipykernel==6.17.0
ipython==8.6.0
ipywidgets==8.0.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.23.4
pandas==1.5.1
ydata-profiling
python-dateutil==2.8.2
statsmodels==0.13.5
streamlit==1.14.0
streamlit_pandas_profiling
plotly==5.11.0
